.weather-box>div {
    padding: 5px;
}
.weather-box-inner {
    padding: 5px;
    border: 2px solid #398db5;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #ffffff73;
    transition: all 0.2s ease-in-out;
}
.close-button {
    cursor: pointer;
    color: red;
    transition: all 0.2s ease-in-out;
}
.close-button:hover {
    color: #929191;
    transition: all 0.2s ease-in-out;
}
.img-64 img {
    width: 64px;
}
.weather-option-box {
    cursor: pointer;
    padding: 5px;
    text-align: center;
    font-size: 9pt;
    background-color: whitesmoke;
    margin-left: 0%;
    margin-right: 0%;
    transition: all 0.2s ease-in-out;
}
.weather-option-box:hover {
    background-color: #91d7e8;
    transition: all 0.2s ease-in-out;
}
.weather-box-header {
    border-bottom: 2px solid #d8d8d8;
    background: #43c3ff;
    color: white;
}
.weather-country-box {
    background: #91d7e8;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}